@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600&display=swap');

header {
  background-color: #f8f9fa;
  padding: 2ch;
}

.header-container {
  color: #ffffff;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item {
  margin: 0 1ch;
  color: #000000;
  text-decoration: none;
}

.Button-container {
  align-self: stretch;
  width: 406ch;
  height: 79ch;
  padding-left: 17ch;
  padding-right: 17ch;
  padding-top: 9ch;
  padding-bottom: 9ch;
  background: #C7D2FE;
  border-radius: 16ch;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.app-background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  height: 10ch;
  padding-left: 2ch;
  padding-right: 2ch;
  padding-top: 1ch;
  padding-bottom: 1ch;
  background: #C7D2FE;
  border-radius: 2ch;
  border-width: 0;
}

.card:hover {
  background: #A5B4FC;
}

.card-text {
  color: #075985;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.input-container-upper-text {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 20px;
    /*width: 96px;*/
    /*height: 20px;*/
}

.input-container {
  display: flex;
  flex-direction: column;
}

.label14 {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word
}

.label16 {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word
}

.label16Bold {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word
}

.label18 {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.label20 {
  font-size: 20px;
  font-family: "Lato" , sans-serif;
  font-weight: 600;
  line-height: 28px;
  word-wrap: break-word;
}

.label24 {
  font-size: 24px;
  font-family: "Lato" , sans-serif;
  font-weight: 500;
  line-height: 36px;
  word-wrap: break-word;
}

.label30 {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  line-height: 36px;
  word-wrap: break-word;
}

.label48 {
  font-size: 60px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  line-height: 64px;
  word-wrap: break-word;
}

/* Buttons */

.button-small {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 9px; 
  padding-bottom: 9px; 
  background: #4338CA; 
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); 
  border-radius: 12px; 
  border-width: 0;
  overflow: hidden; 
  justify-content: center; 
  align-items: center; 
  display: inline-flex;
}

.button-small-secondary {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 9px; 
  padding-bottom: 9px; 
  background: #C7D2FE; 
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); 
  border-radius: 12px; 
  border-width: 0;
  overflow: hidden; 
  justify-content: center; 
  align-items: center; 
  display: inline-flex;
}